.button {
  padding: 0.5rem 1rem;
  border-radius: $primary-radius;
  font-size: 1rem;
  color: $white;
  font-weight: 300;
  width: fit-content;
}
.error {
  @include btn-clr($errorColor);
}
.warning {
  @include btn-clr($warningColor);
}
.success {
  @include btn-clr($successColor);
}
.info {
  @include btn-clr($infoColor);
}
