.btn-container {
  display: flex;
  justify-content: space-around;
}
.grid-row {
}
.grid-wrapper {
  background-color: var(--secondaryBgColor);
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.26);
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 5px;
}
// .grid-row-pattern {
//   & .grid-item:nth-child(1),
//   .grid-item:nth-child(2),
//   .grid-item:nth-child(3) {
//   }
//   & .grid-item:nth-child(7),
//   .grid-item:nth-child(8),
//   .grid-item:nth-child(9) {
//     background-color: $light-grey;
//   }
// }
// .grid-row-pattern-reverse {
//   & .grid-item:nth-child(4),
//   .grid-item:nth-child(5),
//   .grid-item:nth-child(6) {
//     background-color: $light-grey;
//   }
// }

.control-btn-container {
  @include flex-center(row);
  & > * {
    margin: 1rem 0.25rem;
  }
}
