.control-btn {
  @include square-size(35px);
  background-color: $infoColor;
  color: $white;
  border-radius: $primary-radius;
  @include flex-center(row);
  font-size: 1.25rem;
  font-weight: 300;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
.del-btn {
  background-color: $errorColor;
  width: 45px;
}
@media screen and (max-width: 800px) {
  .control-btn {
    @include square-size(28px);
    font-size: 1rem;
  }
  .del-btn {
    font-size: 0.9rem;
  }
}
