.grid-item {
  position: relative;
  cursor: pointer;
  height: 35px;
  width: 35px;
  border: 1px solid $mainTextColor;
  border-radius: $primary-radius;
  font-size: 1.25rem;
  font-weight: 300;
}
.selected {
  background-color: $warningColor !important;
}
.cell-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $primary-radius;
  background-color: rgba($successColor, 0.35);
}
