.grid-item {
  position: relative;
  cursor: pointer;
  @include square-size(35px);
  border: 1px solid $mainTextColor;
  border-radius: $primary-radius;
  font-size: 1.25rem;
  font-weight: 300;
}
.selected {
  background-color: $warningColor !important;
}
.cell-overlay {
  position: absolute;
  top: 0;
  left: 0;
  @include square-size(100%);
  border-radius: $primary-radius;
  background-color: rgba($successColor, 0.35);
}

@media screen and (max-width: 800px) {
  .grid-item {
    @include square-size(30px);
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .grid-item {
    @include square-size(27px);
  }
}
