.grid-item {
  cursor: pointer;
  height: 35px;
  width: 35px;
  border: 1px solid $mainTextColor;
  border-radius: $primary-radius;
  font-size: 1.25rem;
  font-weight: 300;
}
.selected {
  background-color: $successColor !important;
}
