.page-wrapper {
  width: 55vw;
  min-height: 60vh;
  max-height: 100vh;
  @include flex-center(column);
  margin: auto;
}
@media screen and (max-width: 1150px) {
  .page-wrapper {
    width: 70vw;
  }
}
@media screen and (max-width: 800px) {
  .page-wrapper {
    width: 95vw;
  }
}
