* {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $mainTextColor;
}
body {
  background: $mainBgColor;
  height: 100vh;
  display: grid;
  place-items: center;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $errorColor;
    font-weight: 300;
  }
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
.App {
  width: fit-content;
  text-align: center;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
